<div class="row mt-2">
  <div class="col">
    <h1>Héroes <small class="text-muted">Marvel y DC</small></h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top img-fluid" src="https://picsum.photos/180/100" alt="">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
          <p class="card-text"><small class="text-muted">ssmal text</small></p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>