<div class="row mt-2 animated fadeIn">
  <div class="col">
    <h1>{{heroe.nombre}} <small class="text-muted">{{heroe.aparicion}}</small></h1>
  </div>
</div>
<hr>
<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
    <br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <hr>
    <p class="text-justify">{{heroe.bio}}</p>
    <!-- <img [src]="getPathCasa(heroe.casa)" [alt]="heroe.casa" class="float-right" style="width: 100px; height: auto;"> -->
    <img *ngIf="heroe.casa == 'DC'" [src]="pathCasa.DC" [alt]="heroe.casa" class="float-right" style="width: 100px; height: auto;">
    <img *ngIf="heroe.casa == 'Marvel'" [src]="pathCasa.Marvel" [alt]="heroe.casa" class="float-right" style="width: 100px; height: auto;">
  </div>
</div>